body {
    font-family: Arial;
}
 
.container {
    width: 800px;
    margin: 30px auto;
    text-align: center;
}
 
.gallery {
    display: flex;
    gap: 15px;
    justify-content: center;
}
 
.gallery img {
    width: 200px;
    height: 150px;
    cursor: pointer;
}
 
.gallery img:hover {
    transform: scale(1.2);
}
 
#preview {
    width: 500px;
    height: 350px;
    object-fit: cover;
}
 
